body{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
body a{
    color: black;
    text-decoration: none;
}
header{
    margin-left: -8px;
    margin-right: -8px;
}
.logo{
    display: flex block;
}
.textelogo{
    width: 10%;
    margin-top: 10px;
}
.textelogo i{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
}
.imagelogo{
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
}
.imagelogo img{
    margin-left: 16%;
    width: 50%;
    min-width: 150px;
    height: 50px;
}




main{
    display: block;
    margin-left: -8px;
    margin-right: -8px;
}
.photomain {
    margin-top: 20px;
}
.photomain img{
    width: 100%;
    height: 400px;
}
.textemain{
    border-radius: 30px 30px 0px 0px ;
    position:  relative ;
    top: -30px;
    padding-top: 30px;
    background: whitesmoke;
}


.titre{
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 10%;
}
.titre p{
    font-size: 30px;
    font-weight: bold;
    width: 250px;
}
.titre i{
    font-size: 30px;
    margin-top: 30px;
}
.titretexte p{
    font-size: 20px;
    margin-left: 5%;
    border-bottom: 5px solid #99E2D0;
    width: 100px;
}





.box1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 50px;
    margin: auto;
    background: white;
    margin-bottom: 30px;
    border-radius: 20px;
}
.box2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: white;
    margin-bottom: 30px;
    border-radius: 20px;
}
.box3{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: white;
    margin-bottom: 30px;
    border-radius: 20px;
}
.box1{
    animation: box1 1s;
}
@keyframes box1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.box2{
    animation: box1 2s;
}
@keyframes box2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.box3{
    animation: box1 3s;
}
@keyframes box3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
  

.transition{
    display: none;
    width: 25%;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    animation-name: validation;
    animation-duration: 500ms;
    animation-timing-function: linear;
}
.validation {
    background: #99E2D0;
    padding-top: 20px;
}

@keyframes validation {
    0% {
        transform: translate(0px);
        opacity: 1;
        width: 0px
    }
    
}

.box1:hover .transition{
    display: block; 
}
.box2:hover .transition{
    display: block; 
}
.box3:hover .transition{
    display: block; 
}
.box1:hover .texte2{
    width: 300px;
}
.box2:hover .texte2{
    width: 300px;
}
.box3:hover .texte2{
    width: 300px;
}

.iconetransition {
    color: #99E2D0;
    width: 35px;
    height: 35px;
    margin-top: 35px;
    margin-left: 35%;
    border-radius: 50px;
    font-size: 25px;
    background: white;
    animation-name: iconeT;
    animation-duration: 500ms;
    animation-timing-function: linear;
}
.iconetransition i{
    padding-left: 5px;
    padding-top: 5px;
}
@keyframes iconeT{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.texte{
    margin-left: 5%;
}
.texte p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.texte1{
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
}
.box:hover .texte1{
    width: 200px;
}
.texte2{
    font-size: 16px;
    max-width: 400px;
}
.box:hover .texte2{
    width: 200px;
}

.prix{
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    min-width: 50px;
    margin-right: 20px;
}


.btncommander{
    text-align: center;
    padding-bottom: 50px;
}
.btncommander input{
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border-radius: 15px ;
    font-size: 20px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
}
.btncommander input:hover{
    cursor: pointer;
    transform: scale(1.25)
}





footer{
    margin-left: -8px;
    margin-right: -8px;
}
.basdepage {
    background: grey;
    margin-top: -30px;
}
.logofooter{
    padding-left: 5%;
    padding-top: 40px;
    font-size: 25px;
    color: white;
}

.basdepage nav{
    display: flex;
    font-size: 25px;
    color: white;
}
.nav1footer i{
    padding-top: 25px;
    padding-right:  3%;
    padding-left: 5%;
    font-size: 20px;
}
.nav2footer i{
    padding-top: 25px;
    padding-right:  1%;
    padding-left: 5%;
    font-size: 20px;
}
.nav3footer {
    padding-left: 5%;
    font-size: 20px;
}
.nav4footer {
    padding-left: 5%;
    font-size: 20px;
}