header {
    margin-left: -1px;
  }
  
  body {
    margin-left: -1px;
    margin-right: -1px;
    width: 100%;
  }
  
  body a {
    color: black;
    text-decoration: none;
  }
  .loader{
    margin:auto;
    position: relative;
    top: 300px;
    border: 16px solid #bdc3c7;
    width: 80px;
    height: 80px;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 50%;
    animation: loader 2500ms;
    animation-fill-mode: forwards;  
  }
  @keyframes loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes loader {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color: blue;
      border-bottom-color: blue;
    }
    25%{
      border-top-color: blue;
      border-bottom-color: blue;
    }
    50% {
      transform: rotate(1000deg) scale(1);
      border-top-color: blue;
      border-bottom-color: blue;
    }
    75%{
      border-top-color: blue;
      border-bottom-color: blue;
    }
    99%{
      opacity: 1;
    }
    100%{
       opacity: 0;
    }
    
  }
  
  
  
  
  header {
    animation: header 2600ms;
  }
  @keyframes header {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fonctionnement {
    animation: Lfonctionnement 2600ms;
    min-height: 500px;
  }
  @keyframes Lfonctionnement {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .section2 {
    animation: Lsection2 2600ms;
  }
  @keyframes Lsection2 {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .resto {
    animation: Lresto 2600ms;
  }
  @keyframes Lresto {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  footer {
    animation: footer 2600ms;
  }
  @keyframes footer {
    0% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .logo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
  }
  
  .logoimage {
    width: 200px;
    padding-top: 20px;
  }
  
  .souslogo1 {
    display: block;
    background: lightgray;
    height: 70px;
    width: 100%;
    margin-top: 30px;
  }
  
  .textesouslogo1 {
    display: flex;
    font-size: 30px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .textesouslogo1 i {
    margin-top: 15px;
    font-size: 35px;
    margin-right: 10px;
  }
  
  .textesouslogo1 p {
    font-size: 35px;
    margin-top: 15px;
  }
  
  .souslogo2 {
    background: whitesmoke;
    margin-top: -35px;
    width: 100%;
    height: 500px;
  }
  
  
  .souslogo2a {
    font-size: 40px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .souslogo2a p {
    width: 500px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .souslogo2b {
    font-size:40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .souslogo2c {
    text-align: center;
  }
  
  .souslogo2c input {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 25px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
  }
  
  .souslogo2c input:hover {
    cursor: pointer;
    transform: scale(1.25);
  }
  
  .fonctionnement {
    width: 100%;
    margin-bottom: -100px;
    display: block;
    position: relative;
    top: -130px;
  }
  
  .titre1F {
    font-size: 40px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .fonctionnement a {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 75px;
    background: whitesmoke;
    box-shadow: 10px 10px 10px #F2F2F2;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .textenav {
    width: 320px;
    margin-right: -50px;
  }
  .textenav p{
    font-size: 30px;
    margin-top: 15px;
  }
  
  
  .icone1 {
    background: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: -20px;
    margin-top: 25px;
  }
  
  .icone1 p {
    color: white;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 8px;
  }
  
  .icone2 {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 0px;
    color: grey;
  }
  
  .textenav {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 60px;
  }
  

  .section2 {
    display: block;
    background: whitesmoke;
    height: 3400px;
  }
  .titre1R {
    font-size: 40px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .resto {
    width: 90%;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    border-radius: 30px;
  }
  
  .resto img {
    width: 100%;
    height: 400px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
  }
  
  .nouveau {
    width: 150px;
    min-width: 10%;
    height: 40px;
    background: #99E2D0;
    text-align: center;
    margin-left: 75%;
    position: relative;
    top: -730px;
    border-radius: 5px;
  }
  
  .nouveau p {
    font-size: 30px;
    padding-top: 4px;
  }
  
  .sousphotoresto {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
  }
  
  .sousphotoresto p {
    font-size: 50px;
  }
  
  .iconeresto1 {
    padding-right: 50px;
    padding-top: 60px;
    font-size: 100px;
  }
  
  .iconeresto1:hover i {
    display: none;
  }
  
  .iconeresto1:hover {
    cursor: pointer;
    animation: iconeresto1 3s infinite;
    background: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  .texteR1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .basdepage {
    background: grey;
  }
  
  .logofooter {
    padding-left: 5%;
    padding-top: 40px;
    font-size: 50px;
    color: white;
  }
  
  .basdepage nav {
    display: flex;
    font-size: 25px;
    color: white;
  }
  
  .basdepage nav p {
    color: white;
    cursor: pointer;
    font-size: 50px;
  }
  
  .nav1footer i {
    padding-top: 55px;
    padding-right: 3%;
    padding-left: 5%;
    font-size: 50px;
  }
  
  .nav2footer i {
    padding-top: 55px;
    padding-right: 3%;
    padding-left: 5%;
    font-size: 50px;
  }
  
  .nav3footer {
    padding-left: 5%;
    font-size: 20px;
  }
  
  .nav4footer {
    padding-left: 5%;
    font-size: 20px;
  }
  
  @media all and (min-width: 1000px) {
    .fonctionnement {
        margin-bottom: -300px;
    }
    .navF a {
        width: 300px;
    }
    .navF {
      display: flex;
    }
    .icone1 {
        margin-left: -10px;
        width: 30px;
    }
    .icone1 p {
        padding-right: 5px;
    }
    .icone2 {
        padding-left: 30px;
        padding-right: 10px;
    }
    .textenav {
        margin-top: -25px;
        margin-right: -50px;
        margin-left: 10px;
        min-width: 180px;
    }
    #restaurants {
      display: flex;
      justify-content: space-between;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .resto {
        width: 500px;
        height: 500px;
    }
    .section2 {
      min-height: 800px;
      max-height: 1300px;
    }
    .nouveau {
      position: relative;
      width: 100px;
      height: 30px;
      left: 0px;
      top: -580px;
    }
    .nouveau p{
      font-size: 20px;
    }
    .texteR1 p{
      font-size: 20px;
    }
    .texteR2 p{
      font-size: 20px;
    }
    .iconeresto i{
      font-size: 40px;
      margin-top: -30px;
    }
    .loader {
      position: relative;
      top: -300px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
